@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100;200;300;600;700&display=swap');
body{
  background-color:#fff;
}
.main_jpg{
  width: 100%;
}
.home_video {
  padding-top:80px;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  object-fit: cover;
  left:0;
}

.section_1_header{
  padding-top: 90px;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 38.5px;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}
.section_1_para{
  padding-top:20px;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 24px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}
.letvica{
  padding: 20px 0;
}
.rectangle_blue{
  background-color: #41c6f2;
  height: 100px;
  display: block;
  margin-top:50px;
}
.rectangle_purple{
  background-color: #be2b92;
  height: 100px;
  display: block;
  margin-top:50px;
}
.broj{
  font-family: 'Libre Franklin', sans-serif;
  font-size: 77px;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #f6891e;
}
.broj_text{
  font-family: 'Libre Franklin', sans-serif;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #f6891e;
}
