.navbar-lewagon {
  justify-content: space-between;
  background: white;
  text-align:center;
  font-family: 'Libre Franklin', sans-serif;
  font-weight:600;
  position: fixed;
  width:100%;
  z-index:4;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
}

.navbar-toggler{
  border: 0;
}
